<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>
<b>Reviews:</b>
<ol>
	<ol>
		<% @reviews.each do |review| %>
		<li><%= review.body %> <%= review.rating %></li>
		<% end %>
<p>
	<b>Add Review: <a href="/reviews/new?product_id=<%= @product.id %>">Create a new review</a>
	</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= render 'cart.html' %>
